<header>
  <div class="container">
  <a routerLink="/" class="logo">Food Corner</a>
  <nav>
    <ul>
      <!-- <li>
        <a routerLink="/pay">Login</a>
      </li> -->
      <li class="menu-container">
        <a routerLink="/admin" >Admin</a>
  <!-- <div class="menu">
    <a routerLink="/profile">Profile</a>
    <a routerLink="/order">Order</a>
    <a routerLink="/logout">Logout</a>

  </div> -->
  </li>
      <li>
        <a routerLink="/cart-page" >Cart<span *ngIf="cartQuantity">{{cartQuantity}}</span></a> -->
      </li>
    </ul>
  </nav>
  </div>
  </header>
