<div class="outer">
  <div class="cointainer">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
       <div class="pannel border bg-white">
        <div class="pannel-heading">
          <h3 class="pt-3 font-weight-bold">Email</h3>
        </div>
        <div class="pannel-body p-3">
          <form #loginform="ngForm" (ngSubmit)="loginUser()">
            <small class="text-danger">{{message}}</small>
            <div class="form-group pt-3">
            <div class="input-field">
              <span class="fa fa-envelope p-2"></span>
              <input [type]="type" class="form-control" placeholder="Email" name="email" [(ngModel)]="user.email" required #email="ngModel"
              [class.is-invalid]="email.invalid &&email.touched">
            </div>
           </div>
           <div class="form-group pt-3">
            <div class="input-field">
              <span class="fa fa-lock p-2"></span>
              <input [type]="type" class="form-control"   placeholder="password" name="password" [(ngModel)]="user.password" required>
              <span (click)="hideshowpass()"class="fa fa-eye-slash"></span>
            </div>
           </div>
           <div class="form-inline fr mt-4">
            <a id="forget" class="font-weight-bold">Forget Password?</a>
           </div>
           <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
           <div class="text-center pt-4 text-muted">Don't have account?<a id="forget" routerLink="/signup">Signup</a></div>
          </form>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
